In [1]:


import numpy as np
import pandas as pd
pets = pd.DataFrame({'sex': np.array(['M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'M']),
                   'age': np.array([21, 45, 23, 56, 47, 70, 34, 30, 19, 62]),
                   'pets': np.array([['cat', 'dog'],
                                    ['hamster'],
                                    ['cat', 'gerbil'],
                                    ['fish', 'hamster', 'gerbil'],
                                    ['cat'],
                                    ['dog'],
                                    ['dog'],
                                    ['cat'],
                                    ['rabbit', 'cat'],
                                    ['dog']])})
#We have been asked to analyse the survey responses. In particular, we have been given the questions

# What sex was the youngest respondent?

#pets.sort_values(by=['age']).to_dict('records')[0]["sex"]

pets[pets['age']==pets['age'].min()]['sex']

#. Furthermore, pandas provides incredibly powerful methods for slicing and dicing the data to answer some very interesting questions using relatively little code. You're well on your journey to becoming a data ninja!

8    F
Name: sex, dtype: object

In [2]:
pets[[True, False, False, False, True, False, False, True, False, True]]

  sex  age        pets
0   M   21  [cat, dog]
4   F   47       [cat]
7   M   30       [cat]
9   M   62       [dog]

In [3]:
pets[pets['age'] > 21]

  sex  age                     pets
1   M   45                [hamster]
2   F   23            [cat, gerbil]
3   M   56  [fish, hamster, gerbil]
4   F   47                    [cat]
5   F   70                    [dog]
6   F   34                    [dog]
7   M   30                    [cat]
9   M   62                    [dog]

In [4]:
pets[pets['sex'] == 'F']

  sex  age           pets
2   F   23  [cat, gerbil]
4   F   47          [cat]
5   F   70          [dog]
6   F   34          [dog]
8   F   19  [rabbit, cat]

In [5]:
def addTwo(n):
    return n + 2

addTwo(4)

6

In [6]:
pets['age'].apply(addTwo)

0    23
1    47
2    25
3    58
4    49
5    72
6    36
7    32
8    21
9    64
Name: age, dtype: int64

In [7]:

# What age was the person with the most pets?
pets['numPets'] = pets['pets'].apply(len)

In [8]:
pets.head()

  sex  age                     pets  numPets
0   M   21               [cat, dog]        2
1   M   45                [hamster]        1
2   F   23            [cat, gerbil]        2
3   M   56  [fish, hamster, gerbil]        3
4   F   47                    [cat]        1

In [9]:
pets.loc[(pets['numPets']==max(pets['numPets'])), 'age']

3    56
Name: age, dtype: int32

In [11]:
# What was the most popular pet?
#pets['pets'].value_counts(ascending = True)
#for 'pets' in pets
petSum = pets['pets'].sum()
petDict = {}
for i in petSum:
    petDict[i] = petSum.count(i)
print(petDict)

{'cat': 5, 'dog': 4, 'hamster': 2, 'gerbil': 2, 'fish': 1, 'rabbit': 1}

In [50]:
def ownsDog(li):
       return 'dog' in li
        #return True
    #else:
        #return False
pets['pets'].apply(ownsDog)
pets[pets['pets'].apply(ownsDog)]['age'].mean()

46.75

In [54]:
# task: use a lambda function to test whether 'dog' is contained in each list of animals,
ownDog2 = lambda li: 'dog' in li
pets[pets['pets'].apply(lambda li: 'dog' in li)]['age'].mean()

46.75

In [47]:
# extract the age column and then chain the mean method to calculate the average age.
pets['age'].mean()

40.7

In [ ]:



# task: create new column 'num_pets' which contains the number of pets
# each person had (hint: this is the length of each list in the pets column)
# one line of code here:
pets['num_pets'] = pets['pets'].apply(len)
# view the DataFrame again to check our new column is there
pets.loc[pets['num_pets'] == max(pets['num_pets']), 'age']
#So we see the person with the most pets was 56 years old.

#What was the most popular pet?
#This is a very interesting question, given the data, because the data are arranged by respondent, not by pet. We need to get into the pets column now in order to count each type of animal. To do this, we could perform a list comprehension and iterate over each list element for each Series element. But here we're going to give you a handy way to convert that Series of lists into a (longer) Series. The reason for this is to end up with another Series, which means we still have access to the powerful methods available from pandas.
pet_series = pets['pets'].apply(pd.Series).stack().reset_index(drop=True)
# task: produce an ordered count of each animal
# one line of code here:
pets['pets'].value_counts(ascending = True)
#Cat is the most popular pet.

#Note we could also have approached this task by iterating over the original pets column and collecting the animal as the key and the count as the value, but even this requires more explicit iterating and count incrementing, and we still need to iterate over the final result to find the maximum count. With our approach here, we can easily read the most popular pet animal from the top of the result.

#What was the average age of dog owners?
#Hint, again here you may find it useful to use a lambda function to create a boolean index which is True if a respondent said they had a dog and False otherwise.

# example
# task: use a lambda function to test whether 'dog' is contained in each list of animals,
# extract the age column and then chain the mean method to calculate the average age.
# one line of code here:
 
#Conclusion
#You've now seen how pandas holds tabular data, where each column can be a different type (e.g. sex is character and age is a number)

In [ ]:
max(pets.numPets)

In [57]:
pets['ageinDogYears'] = pets['age'].apply(lambda num: num * 7)
pets

  sex  age                     pets  numPets  ageinDogYears
0   M   21               [cat, dog]        2            147
1   M   45                [hamster]        1            315
2   F   23            [cat, gerbil]        2            161
3   M   56  [fish, hamster, gerbil]        3            392
4   F   47                    [cat]        1            329
5   F   70                    [dog]        1            490
6   F   34                    [dog]        1            238
7   M   30                    [cat]        1            210
8   F   19            [rabbit, cat]        2            133
9   M   62                    [dog]        1            434